.list__ul {
  text-align: left;
  background-color: blanchedalmond;
  margin: 0;
  padding: 15px 0;
}

.list__title {
  color: blanchedalmond;
  font-size: 35px;
  line-height: 70px;
  margin: 0 auto;
  height: 70px;
}

.list__button {
  height: 50px;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  line-height: 50px;
  width: 150px;
  margin-top: 25px;
  border-radius: 10px;
  background-color: blanchedalmond;
  color: rgb(107, 21, 21);
  border: none;
  box-sizing: border-box;
}

.list__button:hover {
  background-color: rgb(107, 21, 21);
  color: blanchedalmond;
  border: 1px solid blanchedalmond;
  line-height: 48px;
}

.list__button:first-of-type {
  margin-right: 25px;
}

.list__button:disabled {
  cursor: auto;
  background-color: rgba(255, 235, 205, .5);
  color: rgba(165, 42, 42, .5);
}